@import '../style/icon.scss';

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f6f6f6;
  line-height: 1;
  color: #262626;
}

.main-container {
  display: flex;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}