.cart-row {
  width: 100%;
  &__container {
    display: flex;
    align-items: center;
  }
  &__thumbnail {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }
  &__info {
    margin-left: 20px;
    &-name {
      font-size: 22px;
      color: #404049;
      font-weight: bold;
    }
    &-id {
      font-size: 12px;
      color: #cecece;
      margin-top: 10px;
    }
  }
  &__quantity {
    display: flex;
    align-items: center;
    margin-left: auto;
    &-icon {
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.2;
      }
    }
    &-num {
      appearance: none;
      width: 30px;
      text-align: center;
      border: 1px solid #cecece;
      border-radius: 4px;
      margin: 0 15px;
      padding: 10px;
      background-color: #fff;
    }
  }
  &__price {
    margin: 0 80px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    &-text {
      position: relative;
      font-size: 20px;
      font-weight: bold;
      &::before {
        content: '$';
        font-size: 12px;
        position: absolute;
        left: -10px;
        top: -3px;
      }
    }
  }
  &__delete {
    cursor: pointer;
  }
}