.card-detail {
  width: 500px;
  background-color: #404049;
  border-radius: 20px;
  &__container {
    padding: 50px 60px;
  }
  &__title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
  &__row {
    margin-top: 50px;
    &--2col {
      display: flex;
      justify-content: space-between;
      .card-detail__col {
        width: calc(50% - 10px);
      }

    }
  }
  &__label {
    font-size: 12px;
    color: #8e8e97;
  }
  &__input {
    margin-top: 10px;
    input {
      appearance: none;
      padding: 15px 0;
      margin: 0;
      border: 0;
      width: 100%;
      background-color: transparent;
      border-bottom: 1px solid #8e8e97;
      font-size: 18px;
      color: #fff;
    }
  }

  &__button {
    button {
      width: 100%;
      margin: 0;
      background-color: #2d7aed;
      border-radius: 5px;
      appearance: none;
      border: 0;
      outline: 0;
      color: #fff;
      font-size: 20px;
      padding: 15px;
      cursor: pointer;
    }
  }

  //* Reset react-credit-card
  .rccs {
    width: 100%;
    margin-top: 20px;
    &__card {
      margin: 0;
    }
  }
}